body 
{
    background-color: darkred;
}

h1{
    color:white;
    font-family: 'Rubik Pixels', cursive;
}

#show_sketch
{
    float:right;
}

canvas
{
border:8px solid white;
border-radius: 24px;
animation-name: jbkdp;
animation-duration: 4s;
margin-top: 140px;
animation-iteration-count: infinite;
}

@keyframes jbkdp {
    from {box-shadow: 1px 1px 38px darkmagenta;}
    to {box-shadow: 1px 1px 38px white;}

}

p {
    padding-top:11px;
    font-size:25px;
    font-family: 'DynaPuff', cursive;
    color:white;
}

#btn1
{
    color:white;
    background-color:black;
}